body {
  background-color: turquoise !important;
}

.container-fluid {
  padding-top: 2rem;
  font-family: 'Chelsea Market', cursive;
}

.title {
  text-align: center;
}

.play-img {
  width: 25%;
}

.add-padding {
  padding: 3rem;
}

.dice {
  width: 40%;
}

.spacing-after-dice {
  padding: 0.4rem;
}

.spacing-bw-dice {
  padding: 0.75rem;
}
