html body {
  background-color: turquoise;
  font-family: 'Chelsea Market', cursive;
  text-align: center;
}

h1 {
  margin: 10px auto 80px auto;
}

/* prevent div from shifting when play-img changes size */
/*.fixed-block {
  display: block;
}*/

/* used for holding the blocks in the desired position */
.arbitrary-div {
  padding: 1rem;
}

.play-img {
  margin-top: 2rem;
  width: 3.5rem;
}

.dice {
  width: 30%;
}

.spacing-after-dice {
  padding: 0.4rem;
}

.spacing-bw-dice {
  padding: 0.75rem;
}
